.search {
  display: flex;
  position: relative;
}

form {
  margin: 1rem 0;
}

form input {
  font-size: 1.25rem;
  width: 20rem;
  border: none;
  border-radius: 0.1rem;
  outline: 0.1rem solid lightblue;
  padding: 0.5rem 0.75rem;
  margin-right: 0.75rem;
}

form input:focus {
  outline: 0.2rem solid lightblue;
  box-shadow: 0 0 1.25rem -0.75rem #333;
}

form input:focus + ul {
  display: block;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form .submit {
  font-size: 1.25rem;
  border-radius: 0.1rem;
  font-weight: bold;
  color: whitesmoke;
  border: none;
  outline: 0.1rem solid lightblue;
  background-color: lightblue;
  padding: 0.25rem 0.5rem;
}

form .submit:hover {
  color: lightblue;
  background-color: azure;
  outline: 0.2rem solid #6cb4ee;
  transition-duration: 0.1s;
}

ul {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 20rem;
  border: 0.1rem solid #333;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 0.5rem;
  z-index: 1000;
  list-style: none;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #71a5e263 74%);
  box-shadow: 0 0 1.25rem -0.75rem #333;
}

.link {
  background: none;
  border: none;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.link li {
  color: black;
  font-size: 0.75rem;
}

.link li span {
  color: #333;
  font-size: 0.7rem;
  opacity: 0.75;
}

.link:hover {
  outline: 0.1rem solid #333;
  border-radius: 0.25rem;
  transform: scale(1.05);
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  filter: drop-shadow(0 0 0.1rem #3333);
  transition-duration: 0.1s;
  cursor: pointer;
}
